<h1><%= @registered_application.name %></h1>
<div class="row">
  <div class="col-md-4">
    <% @registered_application.events.each do |event| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p><%= event.name %></p>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
